@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

html {
  scroll-behavior: smooth;
}

#resume-section,
label {
  color: lightslategrey;
}

#resume-section .svg-inline--fa {
  margin-right: 0.4rem;
}

#contact-sect input,
#contact-sect textarea {
  border-bottom: 1px solid darkgray;
  outline: none;
  width: 100%;
}

#contact-sect input:focus,
#contact-sect textarea:focus {
  border-bottom: 2px solid black;
}
